<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>trademe.git</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
	<meta name="title" content="bouncytorch's trading bot">
	<meta name="description" content="bouncytorch's one-way trading bot">
	<!-- Open Graph -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://dev.bouncytorch.xyz/">
	<meta property="og:title" content="bouncytorch's trading bot">
	<meta property="og:description" content="bouncytorch's one-way trading bot">
	<meta property="og:image" content="https://dev.bouncytorch.xyz/preview.png">
	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://dev.bouncytorch.xyz/preview.png">
	<meta property="twitter:title" content="bouncytorch's trading bot">
	<meta property="twitter:description" content="bouncytorch's one-way trading bot">
	<meta property="twitter:image" content="https://dev.bouncytorch.xyz/preview.png">
</head>
<body>
	<main>
		<h1>bouncytorch's trading bot</h1>
		<p>
			<span>whats this?:</span> an example trading bot, my portfolio project<br>
			<span>how does it work?:</span> you pick items you want to trade me and the bot sends thou a trade request<br>
			<span>do i get anything from it?:</span> no.<br>
			<span>why?:</span> this is just a portfolio project not intended for practical use. <br>
			it's created for the sole purpose of showcasing my abilities as a backend/frontend engineer<br>
			and my ability to operate steam api. <b>i am not obligated to return the items you trade me.</b><br>
			if you do decide to trade me something tho, thank you for a charitable donation :)<br>
			<span>what abilities does it showcase?:</span>
			<ol style="padding:0px 25px;">
				<li>my frontend skills (specifically react, css, js)</li>
				<li>steam api and steam bot tools solution</li>
				<li>cryptography (encryption of the config file)</li>
				<li>misc. backend skills (node.js)</li>
			</ol>
		</p>
		<form action="/login" method="post">
			<button class="button-grn" type="submit">login with steam<img src="/steam.svg" alt=""></button>
		</form>
	</main>
</body>
</html>