<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>trademe.git</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>bouncytorch's trading bot</h1>
	<p>
		<span style="color:#929292">whats this?:</span> an example trading bot, my portfolio project<br>
		<span style="color:#929292">how does it work?:</span> you pick items you want to trade me and the bot sends thou a trade request<br>
		<span style="color:#929292">do i get anything from it?:</span> no.<br>
		<span style="color:#929292">why?:</span> this is just a portfolio project not intended for practical use. <br>
		it's created for the sole purpose of showcasing my abilities as a backend/frontend engineer<br>
		and my ability to operate steam api. <b>i am not obligated to return the items you trade me.</b><br>
		if you do decide to trade me something tho, thank you for a charitable donation :)<br>
		<span style="color:#929292">what abilities does it showcase?:</span>
		<ol style="padding:0px 25px;">
			<li>my frontend skills (specifically react, css, js)</li>
			<li>steam api and steam bot tools solution</li>
			<li>cryptography (encryption of the config file)</li>
			<li>misc. backend skills (node.js)</li>
		</ol>
	</p>
	<form action="/login" method="post">
		<button class="steam-login" type="submit"><span style="font-size:15px">login with steam</span><img src="/steam.svg" alt=""></button>
	</form>
</body>
</html>