<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>trademe.git</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<main>
		<h1>bouncytorch's trading bot</h1>
			<div class="items">
				<button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button><button class="item"></button>
			</div>
			<button class="button-grn" style="padding-right: 79px">trade</button>
	</main>
</body>
<script>
	const itemColors = {
		'consumer': '#B0C3D9',
		'base': '#B0C3D9',
		'industrial': '#5E98D9',
		'medium': '#5E98D9',
		'mil-spec': '#4B69FF',
		'high': '#4B69FF',
		'restricted': '#8847FF',
		'remarkable': '#8847FF',
		'classified': '#D32CE6',
		'exotic': '#D32CE6',
		'covert': '#EB4B4B',
		'extraordinary': '#EB4B4B',
		'contraband': '#E4AE33'
	};
	fetch('/api/items?game=730').then(body => {
		document.getElementsByClassName('items')[0].innerHTML = ''
		return body.json()
	}).then(data => data.forEach(item => {
		document.getElementsByClassName('items')[0].innerHTML += `
		<button class="item ${item.grade}">
			<img draggable="false" src="https://steamcommunity-a.akamaihd.net/economy/image/${item.icon}" alt="">
			<h2>${item.type ? item.type : ' '}</h2>
			<div class="item-desc">
				<p>${item.name}</p>
				<p>${item.price ? `$${item.price}` : '$0'}</p>
			</div>
		</button>
		`
	}));
</script>
</html>