<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>trademe.git</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>bouncytorch's trading bot</h1>
	<div class="items"></div>
	<form action="/logout" method="post">
		<button class="steam-login" type="submit"><span style="font-size:15px">login with steam</span><img src="/steam.svg" alt=""></button>
	</form>
</body>
</html>