* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Inter;
}
body {
	gap: 20px;
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	margin: auto;
	width: fit-content;
	justify-content: center;
	height: 100vh;
}
.steam-login {
	color: white;
	align-self: baseline;
	display:flex;
	border-radius: 12px;
	border: none;
	background: #79E283;
	transition: all 0.05s linear;
	align-items:center;
	padding:8px 9px;
	gap:20px
}

.steam-login:hover {
	cursor: pointer;
	background: #62b96b;
}

.steam-login:active {
	box-shadow: inset 0px 10px 15px -3px rgba(0,0,0,0.1);
	transform: scale(0.95);
}