* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Inter;
}
span {
	color:#929292
}
body {
    height: 100vh;
    display: flex;
}
main {
    width: fit-content;
    margin: auto;
    padding: 20px;
}
.button-grn {
	margin-top: 9px;
    color: white;
    display: inline-flex;
    border-radius: 12px;
    border: none;
    background: #79E283;
    transition: all 0.05s linear;
    align-items: center;
    padding: 0px 9px;
    gap: 20px;
    min-height: 40px;
    font-size: 15px;
}
.button-grn:hover {
	cursor: pointer;
	background: #62b96b;
}
.button-grn:active {
	box-shadow: inset 0px 10px 15px -3px rgba(0,0,0,0.1);
	transform: scale(0.95);
}
.items {
	margin-top: 10px;
	display: grid;
    grid-auto-rows: minmax(160px, 1fr);
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-gap: 10px;
    /* width: 100%; */
    max-width: 935px;
	min-height: 500px;
}
.item {
	position: relative;
	border: none;
    display: flex;
    flex-direction: column;
    padding: 8px;
	border-radius: 10px;
}

[selected] > .check {
	visibility: visible;
}

.item > * {
	width: 100%;
}

h2 {
	height: 100%;
	display: flex;
	align-items: flex-end;
	font-size: 14px;
    text-align: left;
    font-weight: 700;
}

.item-desc > p:first-child {
	text-align: left;
}
.item-desc > p:last-child {
	text-align: right;
	display: flex;
	flex-shrink: 0;
	align-items: flex-end;
	margin-left: 2px;
}

.item-desc {
	width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

@media screen and (max-width: 992px) {
	main { width: 100% }
}

.consumer, .base {
	background: linear-gradient(180deg, hsl(0deg 0% 90%), hsl(0deg 0% 90%));
}

.industrial, .medium {
	background: linear-gradient(180deg, hsl(0deg 0% 90%), hsl(212deg 100% 80%));
}

.mil-spec, .high {
	background: linear-gradient(180deg, hsl(0deg 0% 90%), hsl(230deg 100% 80%));
}

.restricted, .remarkable {
	background: linear-gradient(180deg, hsl(0deg 0% 90%), hsl(261deg 100% 80%));
}

.classified, .exotic {
	background: linear-gradient(180deg, hsl(0deg 0% 90%), hsl(294deg 100% 80%));
}

.covert, .extraordinary {
	background: linear-gradient(180deg, hsl(0deg 0% 90%), hsl(0deg 100% 80%));
}

.contraband {
	background: linear-gradient(180deg, hsl(0deg 0% 90%), hsl(42deg 100% 80%));
}
.check {
	top: 5%;
	right: 5%;
	position: absolute;
	width: 15px;
	height: 15px;
	
	background-color: #4a71b0;
	border-radius: 5px;
}